<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание № 13</title>
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1>Это главная страница ДЗ 13</h1>
<h2>Меню нашего супер-сайта:</h2>
<ol>
    <li ><a href="index.html" class="alert alert-info" role="alert"> Главная страница</a></li>
    <li ><a href="search_form.html" class="alert alert-primary" role="alert">Форма данных поиска на headhunter</a></li>
    <li><a href="contact.html"  class="alert alert-success" role="alert">Страница контактов</a></li>
</ol>
</body>
</html>